*{
    margin: 0;
    padding: 0;
    color: #212121;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
}
h1{
    font-size: 200px;
    line-height: 150px;
    

    border-radius: 40px;
    width: fit-content;
    padding: 20px;
    margin: 20px auto;
}
.menu{
  margin: 60px auto;
  width: fit-content;
  font-size: 50px;

}
a{
    text-decoration: none;
    display: block;
    text-align: center;
}
a:hover{
    color: #ccc;
}
img{
    display: block; /* needed to center an img */
    height: auto;
    width: auto;
    border-radius: 10px;
    margin: auto;
    
}
h2,h3{
    font-size: 30px;
    margin-block: 10px;
    text-align: center;
    text-transform: uppercase;
}
p{
    width: 400px;
    margin-inline: auto;
}

.ingredient-list{
    text-align: center; /* to center a list */
}
.ingredient{
    display: inline-block;
}
#home{
    margin-top: 50px;
}

